.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

/* todo: style this */
.fighter-preview__img {}
.fighter-preview__name {}
.fighter-preview__health {}
.fighter-preview__attack {}
.fighter-preview__defense {}
